<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <display-name>Task Management System</display-name>

    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.example.studysystem.servlet.HomeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/</url-pattern>
        <url-pattern>/index.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TopicServlet</servlet-name>
        <servlet-class>com.example.studysystem.servlet.TopicServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TopicServlet</servlet-name>
        <url-pattern>/topics</url-pattern>
        <url-pattern>/topics/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TaskServlet</servlet-name>
        <servlet-class>com.example.studysystem.servlet.TaskServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TaskServlet</servlet-name>
        <url-pattern>/tasks</url-pattern>
        <url-pattern>/tasks/*</url-pattern>
    </servlet-mapping>

    <!-- Настройка сессии -->
    <session-config>
        <session-timeout>30</session-timeout>
        <cookie-config>
            <http-only>true</http-only>
            <secure>false</secure>
        </cookie-config>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>


    <!-- Welcome files -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- Контекстные параметры -->
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>messages</param-value>
    </context-param>

    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.fallbackLocale</param-name>
        <param-value>en</param-value>
    </context-param>

</web-app>